$Background-Black: #141217;
$Login-Black: #272528;
$Score-Blue: #0379FF; 
$Favorites-Black: #1E1B22;

$score-darkblack: #1B1C1D;
$score-lightblack: #302D34;
$score-lightblue: #007AFF;
$mercury: #B1AFB2
