.header{
    display: flex;
    background-color: #1E1F21;
    color: #fff;
    height: 100px;
    flex-direction: column;

    &__row {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
        gap: 0.5rem;
        padding: 0 1.3rem;
        justify-content: center;
    }

    &__profile {
        border: 1px solid #0379FF;
        border-radius: 10px;
        height: 24px;
        width: 24px;
        align-self: center;  
        margin-top: 0.2rem;  
    }

    &__form {

        align-items: center;
        justify-content: center;
        padding: 0 1px;
        background-color: #333;
        border-radius: 5px;
        width: 17rem;
        
    }
    
    &__search {
    border: none;
    outline: none;
    color: #fff;
    font-size: 10px;
    width: 100%;
    font-family: Arial, sans-serif;
    padding: 0.65rem 1.5rem;
    background: url(../../assets/images/search.svg) no-repeat scroll 3px 8px;
    
    }  

    &__logo {
        height: 30px;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-self: center;
        margin: 0.8rem 0.5rem;
        font-size: 10px;

        &--link {
    

            &.active {
                border-bottom: 2px solid #0379FF;
                padding-bottom: 0.6rem;
        
    
            }
        }
        
        
    }
    

}
